<h1>Listing pictures</h1>

<div id="pictures">
  <%= render @pictures %>
</div>

<%= link_to 'New picture', new_picture_path, :id => 'link-to-new' %>

<div id="new-form-container">
  <% @picture = Picture.new %>
  <%= render 'form' %>
</div>

<script type="text/javascript">
// <![CDATA[

// hijacking the new-picture link
$('link-to-new').onClick(function(event) {
  event.stop();
  $('new-form-container').toggle('slide');
});

// hijacking all the rest of the links
function hijack_links() {
  $$("#pictures a.edit").each(function(link) {
    link.onclick = function(event) { event.stop();
      Xhr.load(this.href + ".js", {
        spinner: this.parent('div.picture').first('.spinner')
      });
    }
  });
  
  $$("#pictures a.delete").each(function(link) {
    link.onclick = function(event) { event.stop();
      if (confirm("Are you sure?")) {
        Xhr.load(this.href+".js", {
          method: 'delete',
          spinner: this.parent('div.picture').first('.spinner'),
          authenticity_token: '<%= form_authenticity_token %>'
        });
      }
    };
  });
};


// inserts the new image to the list
function insert_picture(source) {
  $('pictures').insert(source);
  Lightbox.rescan();
  hijack_links();
  
  highlight_picture($$('div.picture').last());
};

// updates the a picture element
function update_picture(id, source) {
  remove_all_edit_forms();
  $('picture_'+id).replace(source);
  highlight_picture($('picture_'+id));
  
  Lightbox.rescan();
  hijack_links();
};

// hightlights the element
function highlight_picture(element) {
  element.highlight.bind(element).delay(400);
};

// removes the picture by id
function remove_picture(id) {
  $('picture_'+id).hide('fade');
};




// remotizes the form
function remotize_form(form_id) {
  var form = $(form_id);
  if (form) {
    form.remotize().enable().action += '.js'; // switching to 'js' format for those requests
  }
};

// handles the form replacement
function replace_form(id, source) {
  $(id).replace(source);
  remotize_form(id);
};

// handles the edit-form displaying 
function show_edit_form(id, source) {
  remove_all_edit_forms();
  remotize_form($('picture_'+id).insert(source).first('form.edit_picture').show('fade'));
};

// removes all the edit-picture forms out of the page
function remove_all_edit_forms() {
  $$('form.edit_picture').each('remove');
};

// catching the escape button press to hide all the popups
document.onKeydown(function(event) {
  if (event.keyCode == 27) {
    remove_all_edit_forms();
  }
});


// onload operations
remotize_form('new_picture');
hijack_links();

// ]]>
</script>